<!-- <h1>Projects#edit</h1>


<div class = "languages">
  <h2>LANGUAGES:</h2>
  <div class = "languages_grid">
    <div class= "language_list">HTML</div>
    <div class= "language_list">CSS</div>
    <div class= "language_list">JavaScript</div>
    <div class= "language_list">JQuery</div>
    <div class= "language_list">Ruby</div>
    <div class= "language_list">RubyOnRails</div>
    <div class= "language_list">SQL</div>
  </div>
</div>

<div class = "skills">
  <h2>SKILLS:</h2>
  <div class= "skills_grid">
    <div class = "skill_list">FlexBox</div>
    <div class = "skill_list">GitHub</div>
    <div class = "skill_list">Project Management</div>
    <div class = "skill_list">E-Commerce</div>
    <div class = "skill_list">People Skills</div>
    <div class = "skill_list">Team Work</div>
    <!-- <div class = "skill_list">Drinking Rosewater</div> -->
  </div>
</div> -->
