<meta name="viewport" content= "width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<div class= "top-container">
  <header>
    <div class= "fa fa-bars" id ="hamburger"></div>
    <div class= "fa fa-close" id = "cross"></div>
  <header>

  <nav class = "nav">
    <ul>
      <li><a href = "#">Home</a></li>
      <li><a href = "#my_intro" >About</a></li>
      <li><a href = "#my_skills" >Skills</a></li>
      <li><a href = "#my_projects" >Projects</a></li>
    </ul>
  </nav>

  <div class = "top_box">

    <!-- <div class = "jump_circle">
    </div> -->

    <div class = "my_info" id= "my_info">
        <h1 id="top">ERIN KIM</h1>
        <p>A Web Developer with Purpose</p>
        <p>A Designer by Nature</p>
        <p>A Shopify Merchant by Passion</p>
        <p>kim.erin.kim@gmail.com</p>
    </div>

    <div class = "contact">
      <a href= "https://ca.linkedin.com/in/erinhkim" target = "_blank" class="contact_list" class="contact_list">LinkedIn</a>
      <a href= "https://github.com/kimmiekim" target = "_blank" class="contact_list">GitHub</a>
      <a href = "https://twitter.com/KimmieKim88" target = "_blank" class="contact_list">Twitter</a>
      <a href ="/ErinKim_webDev_resume.pdf" target = "_blank" class="contact_list">CV</a>
    </div>
  </div>
</div>

<div class="programmer">
  <div class="definition">
    <h1>pro.gram.mer</h1>
    <p id = "pronounciation">|<strong>proh</strong>-gram-er|noun</p>
    <blockquote>
      1) An organism that converts coffee into code.<br />
    <!-- </blockquote>
    <blockquote> -->
      <br />
      2) A human that has a deeper and more meaningful relationship with a computer than with other humans.
    </blockquote>
  </div>
</div>

    <div id = "greetings">
      <div class= "hello">
        <h2>Hello!</h2>
      </div>
      <div class= "hello">
        <h2>Bonjour!</h2>
      </div>
      <div class= "hello">
        <h2>Ciao!</h2>
      </div>
      <div class= "hello">
        <h2>こんにちわ!</h2>
      </div>
      <div class= "hello">
        <h2>Здравей!</h2>
      </div>
      <div class= "hello">
        <h2>안녕하세요!</h2>
      </div>
      <div class= "hello">
        <h2>你好!</h2>
      </div>
      <div class= "hello">
        <h2>مرحبا!</h2>
      </div>
      <div class= "hello">
        <h2>שלום!</h2>
      </div>
    </div>

    <div class = "port_pic">
        <div class = "intro" id= "my_intro">
          <p id = "first_p">I'm a junior web developer based in Toronto, Canada. I have <b>three years</b> of experience working at one of the world's largest <b>e-commerce companies</b>, and I have planned and executed numerous <b>promotional shipping campaigns</b>!</p>
          <p>I love building web experiences, solving problems and learning new things.</p>
          <p>You will usually find me enrolled in bootcamp style classes, or <b>taking an online course</b>. My next goal is to get a Nanodegree!</p>
          <p id = "personal_intro">Feel free to check out my <b>passion project</b>, my e-commerce shop!
           <a href= "http://drinkrosewater.com/" target: "_blank">HERE!</a></p>
      </div>
    </div>




    <div id ="my_skills">
      <div class = "languages">
        <h2>PROGRAMMING LANGUAGES:</h2>
        <div class = "languages_grid">
          <div class = "language_list" id = "html"></div>
          <div class= "language_list" id = "CSS3"></div>
          <div class= "language_list" id = "JavaScript"></div>
          <div class= "language_list" id = "JQuery"></div>
          <div class= "language_list" id = "Ruby"></div>
          <div class= "language_list" id = "RubyOnRails"></div>
        </div>
      </div>

      <div class = "skills">
        <h2>SKILLS:</h2>
        <div class= "skills_grid">
          <div class = "skill_list" id = "Flexbox"></div>
          <div class = "skill_list" id = "Github"></div>
          <div class = "skill_list" id = "Project_management"></div>
          <div class = "skill_list" id = "e-commerce"></div>
          <div class = "skill_list" id = "design"></div>
          <div class = "skill_list" id = "team_work"></div>
        </div>
      </div>
    </div>

    <div class="ux_design">
      <div class="ux_definition">
        <blockquote cite="Wouter Stokkel">
          It's art if it can't be explained. <br />
          It's fashion if no one asks for an explanation.<br />
          It's design if it doesn't need explanation.<br />
          <br />
          -Wouter Stokkel
        </blockquote>

      </div>
    </div>


        <!-- <div class= "projects" id= "my_projects">
            <h1>PROJECTS:</h1>
            <div class = "crm">
              <div class = "project_description">
                <p>Built my first web app using Ruby and Sinatara</p>
                <p>Built simply on CRUD methodology.</p>
              </div>
              <div class = "project_picture">
              </div>
            </div>

            <div class= "seatyourself">
              <div class= "project_picture">
              </div>
              <div class= "project_description">
                <p>Built online restaurant booking application using Ruby and Ruby on Rails, HTML, CSS, Javascript</p>
              </div>
            </div>
        </div> -->
    <div class="work_sample" id = "my_projects">
      <h2 id = "project_header">PROJECTS:</h2>
      <div class="sample_one">
        <div class="project_pic" id = "we_robo_care">
        </div>
        <div class="project_description">
        <h1>WeRoboCare</h1>
        <p>is an interactive soial app that helps users find local caregivers near by them. It is built on Rails utilizing Ruby, Javascript, Google map API, Bourbon and other various APIs including</p>
        <h2>Technologies:</h2>
        <ul>
          <li>Ruby</li>
          <li>Ruby On Rails</li>
          <li>Javascript</li>
          <li>Ajax</li>
          <li>Bourbon</li>
          <li>Sass</li>
          <li>Google Map API</li>
        </ul>
          <div class= "project_links">
            <a href = "https://github.com/hisayohorie/weCare" target = "_blank"><%=fa_icon "github", text: "View code"%></a>
            <a href = "https://werobocare.herokuapp.com/" target = "_blank"><%=fa_icon "external-link", text: "Live Site"%></a>
          </div>
        </div>
      </div>
      <hr />

      <!-- <div class="work_sample">
        <div class="sample_one">
          <div class="project_pic" id = "tictactoe">

          </div>
          <div class="project_description">

          </div>
        </div>
      </div>
      <hr /> -->

      <div class="work_sample">
        <div class="sample_one">
          <div class="project_pic" id= "seatyourself">

          </div>
          <div class="project_description">
            <h1>SeatYourSelf</h1>
            <p>is a web app that helps you book reservations at your favourite restaurants any day, any time.</p>
            <h2>Technologies:</h2>
            <ul>
              <li>Ruby</li>
              <li>Ruby On Rails</li>
              <li>Javascript</li>
              <li>HTML5</li>
              <li>CSS</li>
              <li>Sorcery</li>
            </ul>
            <div class= "project_links">
              <a href = "https://github.com/vickysyloo/SeatYourself/commits/master" target = "_blank"><%=fa_icon "github", text: "View code"%></a>
            </div>
          </div>
        </div>
      </div>
    </div>



        <footer class = "footer">
          <p class ="footer_message">Website design & content &copy; 2016 Erin Kim <i class="fa fa-heart" aria-hidden="true"></i> </p>
        </footer>
