<h1>Projects#new</h1>

<div class = "intro">
  <div class= "one">
    <h2>Hello!</h2>
    <p>I'm a junior web developer based in Toronto, Canada.
      Building web experiences is what I love doing!</p>
  </div>
  <div class= "two">
    <p>I love <b>solving problems</b> and <b>learning new things</b>. I'm usually enrolled in online course or bootcamp-style learning places.</p>
    <p id = "personal_intro">I have completed Yoga Teacher Training in Bali and I have my own e-commerce shop! Take a look at <a href= "http://drinkrosewater.com/" target: "_blank">my shop!</a> \(^O^)/</p></span>
  </div>
  <div class = "three">
    <img class = "port_pic" src= "port_profile_pic.png" />
    <!-- <p>I have completed Yoga Teacher Training in Bali and I have my own e-commerce shop! Take a look at <a href= "http://drinkrosewater.com/" target: "_blank">my shop!</a> \(^O^)/</p></span> -->
  </div>
  <!-- <div class = "img">
    <img src = "port_profile.png">
  </div> -->
  </div>
