<!-- <h1>Projects#show</h1>

<div class= "projects">
  <h1>PROJECTS:</h1>
  <div class = "crm">
    <div class = "crm_description">
      <p>Built my first web app using Ruby and Sinatara</p>
      <p>Built simply on CRUD methodology.</p>
    </div>
    <div class = "crm_picture"></div>
  </div>

  <div  class= "seatyourself">
    <div class= "seatyourself_pic"></div>
    <div class= "seatyourself_description">
      <p>built online restaurant booking application using Ruby and Ruby on Rails, HTML, CSS, Javascript</p>
      <p></p>
    </div>
  </div> -->
