// Font-related variables
$font-stack:             Helvetica, sans-serif;

// Color Vairables
$white:                  #fff;
$medGrey:                #94989f; // Regular
$lightGrey: 	           #cccccc;
$greyTrans:              rgba(192,192,192,0.5);
$red:                    #e62739;
$redTrans:               rgba(230, 39, 57, 0.63);
$black:                  #282828;

// Font Color Variables
$titleColor:             $black;
$bodyColor:              $black;
$fontLight:            $medGrey;
